@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    scrollbar-gutter: stable both-edges;
  }
  html {
    scroll-behavior: smooth;
  }
}
/* width */
::-webkit-scrollbar {
  width: 4px;
  transition: all;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track:hover {
  background: rgba(0, 0, 0, 0.1);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 25px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
